{% extends "base.html" %}
{% block content %}

<h2 class="fw-bold text-success mb-4">All Products</h2>

<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card product-card">
            <img src="{{ product.image_url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="product-title">{{ product.name }}</h5>
                <p class="text-muted">{{ product.description }}</p>
                <p class="price-tag">£{{ product.price }}</p>
                <a href="/products/{{ product.id }}/" class="btn btn-outline-success btn-view w-100">View Product</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
